*{
    margin: 0;
    padding: 0;
}
:root{
    --fonte-padrão:'inter';
    --cor-fundo: #303030;
}
/* menu principal */
#principal{
    width: 100%;
    height: 80px;
    background-color: #202020;
    font-family: var(--fonte-padrão);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#principal a{
    color: white;
    font-size: 20px;
    font-weight:600px;
    text-decoration: none;
}
.menu{
    display: flex;
    width: 50%;
    justify-content:space-around;
}
.menu a:hover{
    background-color: #303030;
}

#principal button{
    box-shadow: 2px 2px 3px black;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10%;
    width: 80px;
    height: 40px;
    border: none;
    background-color: #0C70F2;
    color: white;
    cursor: pointer;
}
/* Fim menu principal */
/* Header informacional */
header{
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    background-color:var(--cor-fundo);
}
header h1{
    font-size: 30px;
    padding-top: 50px;
    color: white;
    font-family: var(--fonte-padrão);
}
header p{
    font-family: var(--fonte-padrão);
    color: white;
    padding-top: 20px;
}
header p .acelerar{
    background-color: black;
    font-weight: 600;
}
header p .dev{
    background-color: black;
    font-weight: 600;
}
/* Fim header informacional */
/* Começo section */
section{
    display: flex;
    justify-content: center;
    background-color: #303030;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: var(--fonte-padrão);
    color: white;
    width: 500px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
form input{
    padding: 10px 0 10px 5px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    border:none;
}
form input::placeholder{
    color: rgb(68, 68, 68);
}
form input[type="checkbox"]{
    scale: 1;
}
form .checkbox-sec input{
    margin: 10px 5px 20px 10px;
}
form .checkbox-sec{
    font-size: 14px;
    line-height: 10px;
    
}
form button{
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color:#0C70F2;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    margin: 20px 0 30px 0;
    cursor: pointer;
}
/* fim section */
/* Começo footer */
footer{
    background-color:#0C70F2;
    width: 100%;
    font-family: var(--fonte-padrão);
}
footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
footer .linha1 h2{
    color: white;
    background-color: #303030;
    text-align: center;
    margin: 15px 0 15px 0;
    border-radius: 10px;
}
footer ul{
    list-style-type: none;
    color: white;
}
footer li{
    margin-bottom: 20px;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer p{
    color: white;
}
.linha2{
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 50px 0 20px 0;
}
/* Final footer */

/* Inicio media query */
@media only screen and (max-width: 600px){
    /* Menu principal */
    #principal{
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #principal a{
        color: white;
        font-size: 15px;
        margin: 5px;
    }
    #principal button{
        box-shadow: 2px 2px 3px black;
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    /* informacional */
    form{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-family: var(--fonte-padrão);
        color: white;
        width: 340px;
    }
    form .checkbox-sec input{
        margin: 10px 0px 20px 0px;
        font-size: 5px;
    }

    /* Footer */
    footer .linha1{
        display: flex;
        flex-direction: column;
    }
    footer .endereco{
        width: 90%;
        text-align: center;
    }
    footer .linha2{
        font-size: 12px;
    }
    /* Fim media query */
}